*.swp
*.log
*.bak
*.dump

/.groovy/
/.local/
/.gradle/
/build

.idea/
*.iml
*.prefs
*.settings/*
*.log
.project
.classpath
metastore_db

README.md~
*.bin
*.releaseBackup
*.out
*~

# Specific for Nd4j
*.md5
*.pom
*.sha1
*.ser
*.so
*.jpg
*.png
*.iml
*.prefs
*.dylib
.DS_Store